.myimg{
    width: 10%;
}
.myimgs{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 5%;
    gap: 4%;
}
.new{
    background-color: rgba(240, 248, 255, 0);
    color: #101F26;
    border-color: #101F26;
    border-style: solid;
    border-radius: 30px;
    font-size: 18px;
    padding: 1.5% 2%;
    border-width: 1px;
}
.size{
    color: #101f261f;
    font-size: 10px;
    margin-top: 3%;
}
.line{
    width: 80%;
    border-color: #101F26;
    margin-top: 5%;
}
.hold{
    width: 100%;
    margin-top: 5%;
    background-color: #E7E8EB;
    border-radius: 30px;
    height: 230px;
    
}
.personal-box{
    display: flex;
    flex-direction: row;
    gap: 60%;
    margin-left: 3%;
    margin-top: 3%;
}
.personal{
    color: #577D8F;
}
.edits{
    background-color: #101F26;
    color: white;
    padding: 1% 3%;
    border-radius: 20px;
}
.three{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6%;
    margin-left: 3%;
    margin-top: 3%;
}
.firstone{
    display: flex;
    flex-direction: column;
}
.full-name{
    color: #101F26;
}
.names{
    color: #101f263c;
    font-weight: 100;
    margin-top: 10%;
}
.namess{
    color: #101f263c;
    font-weight: 100;
    margin-top: 2%;
    padding: 0 3%;
    line-height: 30px;
}
.cairo{
    background-color: #FAFAFB;
    border-color: #101F26;
    border-style: solid;
    width: 90%;
    border-radius: 20px;
    height: 40px;
    display: flex;
    align-items: center;
    margin-left: 3%;
    margin-top: 3%;
    padding-left: 3%;
}