.table-container {
  background: #e6e8eb;
  padding: 25px;
  border-radius: 20px;
  font-family: "Inter", sans-serif;
  width: 95%;
}

/* TOP BAR */
.top-bar {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 25px;
}

.dropdown-btn {
  padding: 10px 20px;
  border-radius: 25px;
  border: 2px solid #cfd2d4;
  background: white;
  cursor: pointer;
  font-weight: 500;
}

.add-btn {
  padding: 10px 25px;
  border-radius: 25px;
  border: none;
  background: #0f2a33;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.action-btn {
  border: 2px solid #cfd2d4;
  background: white;
  padding: 10px 18px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-size: 14px;
}

/* TABLE */
.project-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 15px;
  color: #333;
}

.project-table th {
  text-align: left;
  padding: 12px;
  font-weight: 600;
  color: #2b3a43;
}

.project-table td {
  padding: 16px 12px;
  border-top: 1px solid #c5c7c8;
}

.icons22 {
  display: flex;
  gap: 18px;
}

.icon {
  font-size: 18px;
  color: #2f3a40;
  cursor: pointer;
}

/* TOGGLE SWITCH */
.switch {
  position: relative;
  width: 45px;
  height: 22px;
  display: inline-block;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  background: #0e1a21;
  border-radius: 25px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: .3s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 3px;
  bottom: 3px;
  background: white;
  border-radius: 50%;
  transition: .3s;
}

input:checked + .slider {
  background: #14b668;
}

input:checked + .slider:before {
  transform: translateX(23px);
}

/* PAGINATION */
.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  align-items: center;
}

.page-btn {
  padding: 10px 20px;
  border: 2px solid #cfd2d4;
  background: white;
  border-radius: 25px;
  cursor: pointer;
}

.page-btn.dark {
  background: #0f2a33;
  color: white;
  border: none;
}

.dropdown-wrapper {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
  padding: 10px 20px;
  border-radius: 25px;
  border: 2px solid #cfd2d4;
  background: white;
  cursor: pointer;
  font-weight: 500;
}

.dropdown-menu {
  position: absolute;
  top: 48px;
  left: 0;
  width: 180px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  border: 1px solid #d0d4d6;
  z-index: 20;
}

.dropdown-item {
  padding: 12px 16px;
  cursor: pointer;
  font-size: 14px;
  color: #2b3a43;
}

.dropdown-item:hover {
  background: #eef1f4;
}

.nes{
    text-decoration: none;
    font-size: 10px;
}