/* Container */
.settings-container {
  padding: 40px;
  font-family: Arial, sans-serif;
  background: #E7E8EB;
  min-height: 100vh;
  margin-top: 3%;
  border-radius: 30px;
}

.settings-title {
  font-size: 26px;
  font-weight: bold;
}

/* Tabs */
.tabs {
  display: flex;
  gap: 20px;
  margin: 25px 0;
}

.tab {
  background: none;
  border: none;
  padding: 10px 5px;
  font-size: 15px;
  cursor: pointer;
  color: #555;
}

.tab.active {
  border-bottom: 2px solid #101F26;
  color: #101F26;
  font-weight: bold;
}

.settings-content {
  display: flex;
  gap: 40px;
}

/* Profile Section */
.profile-section,
.password-section {
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  width: 100%;
}

.subtext {
  color: #77777772;
  margin-bottom: 20px;
  font-weight: 100;
  margin-top: 1%;
  font-size: 18px;
}

/* Upload Box */
.upload-box {
  border: 1px solid #dfe3e8;
  border-radius: 8px;
  padding: 15px;
  position: relative;
  margin-bottom: 20px;
}

.upload-header {
  font-weight: bold;
}

.progress-bar {
  height: 6px;
  background: #e5e7eb;
  border-radius: 4px;
  overflow: hidden;
  margin: 10px 0;
}

.progress-fill {
  background: #4ade80;
  height: 100%;
  border-radius: 4px;
}

.progress-text {
  font-size: 13px;
  color: #555;
}

.close-upload {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #666;
}

/* Inputs */
.form-label {
  display: block;
  margin-top: 15px;
  margin-bottom: 6px;
  font-size: 14px;
  color: #333;
}

.input-field22 {
  width: 80%;
  padding: 12px;
  border: 1px solid #d0d7e2;
  border-radius: 7px;
}

/* Buttons */
.button-row {
  display: flex;
  gap: 15px;
  margin-top: 25px;
}

.btn {
  padding: 12px 22px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 15px;
}

.btn.cancel {
  background: #fff;
  border: 1px solid #d0d7e2;
}

.btn.save,
.btn.update {
  background: #333;
  color: white;
}

.password-section {
  max-width: 380px;
}

.btn.update {
  width: 100%;
  margin-top: 25px;
}
