/* BURGER BUTTON */
.burger-btn {
  position: fixed;
  top: 20px;
  left: 15px;
  z-index: 1000;
  font-size: 28px;
  background: var(--dark);
  color: white;
  border: none;
  padding: 10px 14px;
  border-radius: 10px;
  display: none; /* hidden on desktop */
}

/* SHOW ON MOBILE */
@media (max-width: 480px) {
  .burger-btn {
    display: block;
  }
}
