.btn{
    border-style: solid;
    border-radius: 20px;
    border-color: #101F26;
    background-color: rgba(255, 255, 255, 0);
    font-size: 20px;
    padding: 4% 10%;
    width: 100%;
    font-weight: 200;
}
.btns{
    padding-top: 2%;
}