.card-box{
    background-color: #0b173924;
    width: 30%;
    border-radius: 30px;
    height: 300px;
    margin-top: 3%;
}
.skill-img{
    width: 30%;
    padding-left: 5%;
    padding-top: 5%;
}
.delskill{
    background-color: #0b1739;
    color: white;
    padding: 1% 3%;
    font-size: 20px;
    border-radius: 30px;
}
.delskills{
   
    color: #0b1739;
    border-color: #0b1739;
    border-style: solid;
    border-width: 2px;
    padding: 1% 3%;
    font-size: 20px;
    border-radius: 30px;
}
.bttnns{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3%;
    margin-top: 40%;
    margin-left: 18%;
}
.skill-rows{
    display: flex;
    flex-direction: row;
    gap: 3%;

}