.box{
    background-color: #0b173928;
    border-radius: 20px;
    width: 40%;
    margin-top: 3%;
    height: auto;
}
.innertitle{
    color: #577D8F;
    font-size: 22px; 
    padding-top: 10%;
    padding-left: 5%;
}
.number{
    color: black;
    padding-top: 3%;
    padding-left: 5%;
    font-size: 24px;
}
.date{
    color: rgba(0, 0, 0, 0.408);
    padding-top: 3%;
    padding-left: 5%;
    font-weight: 100;
    padding-bottom: 6%;
}
